button,
h1 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 24px;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 1%;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 24px;
    color: #ffffff;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 18px;
    color: #1899D6;
}

header {
    width: 95%;
    text-align: center;
    color: white;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    margin: auto;
    position: relative;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    width: 20%;
}

.back {
    border: dashed #F9E4C4;
    padding: 16px;
    background-color: #DDA476;
    border-radius: 16px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 20px;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.back:hover {
    background-color: #F9E4C4;
    border: dashed #DDA476;
    color: #DDA476;
}

.order-container {
    width: 40%;
    background: #DDA476;
    border-radius: 30px;
    border: dashed #F9E4C4;
    padding: 15px;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button, input {
    border: 0;
    outline: 0;
    padding: 16px;
    background-color: white;
    font-size: 16px;
}

input {
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px white, inset -5px -5px 10px white;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}
  
input:focus {
    box-shadow: inset 1px 1px 2px white, inset -1px -1px 2px white;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.search-container input {
    flex: 1;
    margin-right: 8px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px white, inset -5px -5px 10px white;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}

.search-container input:focus {
    box-shadow: inset 1px 1px 2px white, inset -1px -1px 2px white;
}

 .button-search {
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    transition: filter 0.2s;
    user-select: none;
    width: auto;
    padding: 16px;
    white-space: nowrap;
    position: relative;
}

 .button-search:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border-radius: 16px;
    border-width: 0 0 4px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -4px;
    z-index: -1;
}

 .button-search:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.button-search:disabled {
    cursor: auto;
}

.button-search:active {
    border-width: 4px 0 0;
    background: none;
}
